@import "compass/reset";

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/DroidSans.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/DroidSans-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/NanumGothic-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/NanumGothic-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(.fonts/NanumGothic-ExtraBold.woff) format('woff');
}

$color-blue: #5e9ac9;
$color-border: #f4f4f4;
$color-close-white: #fdfdfd;
$color-dark-border: #373736;
$color-dark-gray: #444444;
$color-dark-red: rgb(245, 78, 74);
$color-dark: #232323;
$color-green: #339a63;
$color-gray-date: #a3a3a3;
$color-gray-text: #a0a0a0;
$color-gray-project: #a3a3a3;
$color-gray: #a7a7a7;
$color-light-blue: rgba(255, 255, 255, 0.15);
$color-light-gray: #f5f5f5;
$color-light-red: #e9827f;
$color-red-counter: rgb(214, 67, 62);
$color-red: #e56c69;
$color-white: #ffffff;
$first-column-width: 80px;

$fonts_en: "Droid Sans", "Verdana", "Arial Unicode", "Arial", "Helvetica", "clean", "sans-serif";
$fonts_ja: "Droid Sans", "Meiryo UI", "Meiryo", "MS UI Gothic", "Microsoft YaHei", "Arial Unicode", "Arial", "sans-serif";
$fonts_ko: "Droid Sans", "Nanum Gothic", "나눔고딕", "NanumGothic", "Malgun Gothic", "돋움", "Dotum", "AppleGothic", "Gulim", "Arial Unicode", "Arial", "sans-serif";

::-webkit-scrollbar {
  display: none;
}
::selection {
  background: $color-blue;
}

body {
  h1 {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 55px;
    &:before {
      bottom: 1px;
      content: '';
      display: inline-block;
      font-size: 24px;
      line-height: 1;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: $first-column-width;
    }
  }
  h2 {
    font-weight: 700;
    text-indent: 38px;
    border-top: 1px solid $color-border;
    color: $color-gray-project;
    span {
      background: yellow;
    }
  }
  background: $color-white;
  cursor: default;
  font-family: $fonts_en;
  font-size: 12px;
  line-height: 50px;
  width: 500px;
  &.ja {
    font-family: $fonts_ja;
  }
  &.ko {
    font-family: $fonts_ko;
    .date p { font-size: 12px; }
    h1 { font-size: 15px; }
  }
}

header {
  background: $color-close-white;
  height: 55px;
  #logo {
    left: 20px;
    position: relative;
    vertical-align: middle;
  }
  #search-input {
    background: $color-close-white;
    border: 1px solid #e4e4e4;
    color : $color-gray;
    font-size: 14px;
    margin-left: 80px;
    padding: 8px 10px;
    position: relative;
    top: 4px;
    width: 240px;
    &::-webkit-input-placeholder {
      font-style: italic;
    }
    &:focus {
      outline: none;
    }
  }
  .icon-clear {
    background: url(/img/ui/icon-close.png) center no-repeat;
    cursor: pointer;
    height: 16px;
    margin-left: 358px;
    position: absolute;
    margin-top: -30px;
    width: 16px;
  }
  .icon-settings {
    &:hover { background: url(/img/ui/icon-settings-hover.png) center no-repeat; }
    background: url(/img/ui/icon-settings.png) center no-repeat;
    cursor: pointer;
    height: 21px;
    left: 61px;
    padding: 14px;
    position:relative;
    top: 3px;
    width: 20px;
  }
}

.void {
  display: inline-block;
  width: $first-column-width;
}

dt {
  -webkit-user-select: none;
  background: $color-dark;
  border-bottom: 1px solid $color-dark-border;
  color: $color-white;
  cursor: pointer;
  pointer-events: none;
  vertical-align: middle;
  position: relative;
  &:hover {
    background: $color-blue;
    border-bottom: 1px solid $color-blue;
    .count-todos {
      background: $color-light-blue;
    }
  }
  &.enabled {
    pointer-events: all;
    h1:before {
      content: '+';
    }
  }
  &.active {
    background: $color-blue;
    border-bottom: 1px solid $color-blue;
    h1:before {
      content: '-';
      position: relative;
      top: -2px;
    }
    .count-todos {
      background: $color-light-blue;
    }
  }
}

dd {
  display: none;
  max-height: 306px;
}

#overdues {
  .count-todos {
    background: $color-red-counter;
  }
  .date {
    color: $color-red;
  }
}

.count-todos {
  background: $color-dark-gray;
  border-radius: 50%;
  bottom: 0;
  height: 15px;
  line-height: 16px;
  margin: auto 0;
  padding: 8px;
  position: absolute;
  right: 22px;
  text-align: center;
  top: 0;
  width: 15px;
}

/* Change background color on hover */
dt,
.count-todos,
.icon-settings {
  transition-duration: .1s;
  transition-property: background, border-bottom;
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.day-number {
  font-family: Arial;
}
.date {
  color: $color-gray-date;
  display: table-cell;
  font-size: 18px;
  line-height: 16px;
  position: relative;
  text-align: center;
  top: -5px;
  width: $first-column-width;
  p { font-size: 9px; }
  &.overdues {
    color: $color-red;
  }
}
.icon-today {
  background: url(/img/ui/icon-today.png) center 13px no-repeat;
}
.icon-coffee {
  background: url(/img/ui/icon-coffee.png) center 13px no-repeat;
}

.comments,
.void {
  display: table-cell;
  padding-right: 8px;
  width: 30px;
}
.comments {
  background: url(/img/ui/icon-comment.png) left no-repeat;
  &:hover {
    background: url(/img/ui/icon-comment-hover.png) left no-repeat;
    p { color: $color-blue; }
  }
  color: $color-gray;
  cursor: pointer;
  text-align: right;
}
.icon-link {
  background: url(/img/ui/icon-link.png) center no-repeat;
  &:hover { background: url(/img/ui/icon-link-hover.png) center no-repeat; }
  cursor: pointer;
  display: table-cell;
  margin-right: 20px;
  width: 32px;
}
.content {
  background-color: $color-white;
  overflow: hidden;
}
.todo {
  display: table-cell;
  line-height: 16px;
  overflow: hidden;
  vertical-align: middle;
  width: 327px;
  div {
    display: table;
    margin-left: -30px;
    width: 325px;
    .checkbox {
      background: url(/img/ui/icon-checkbox.png) center no-repeat;
      &:hover { background: url(/img/ui/icon-checkbox-hover.png) center no-repeat; }
      cursor: pointer;
      display: table-cell;
      width: 24px;
    }
    .todo-text {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      overflow: hidden;
      padding-left: 12px;
      text-overflow: ellipsis;
      vertical-align: middle;
      width: 292px;
      word-break: break-word;
    }
  }
}
#todos li {
  border-bottom: 1px solid $color-border;
  height: 50px;
  left: -520px;
  overflow: hidden;
  position: relative;
  width: 1040px;
  &:first-child { border-top: 1px solid $color-border; }
  &:last-child  { border-bottom: 0; }
  &:hover {
    background-color: $color-light-gray;
    .todo {
      div {
        margin-left: 0px;
      }
    }
  }
  .achievement {
    background: $color-green;
    color: $color-white;
    display: table-cell;
    font-size: 16px;
    padding-left: 83px;
    width: 437px;
    img {
      padding-right: 15px;
      vertical-align: middle;
    }
  }
  .visible {
    width: 520px;
  }
}

/* Slide to right to display check box on hover */
#todos li:hover,
.todo div {
  transition-property: margin-left;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

#allow-access {
  background: $color-close-white;
  display: table-row;
  line-height: 14px;
  cursor: pointer;
  &:hover {
    background: darken($color-close-white, 1%);
  }
  img {
    border-right : 1px solid $color-gray;
    display: table-cell;
    margin : 24px;
    padding-right: 24px;
  }
  #allow {
    color: #68bb4f;
    font-weight: bold;
  }
  p {
    color: $color-gray-text;
    display: table-cell;
    line-height: 18px;
    vertical-align: middle;
    &:last-child {
      padding-right: 24px;
      width: 100%;
    }
  }
}

/* Define animation to display achievement */
@-webkit-keyframes achievementSlide {
  from { margin-left: 0;     }
  to   { margin-left: 520px; }
}

/* Style applied when a todo is checked */
.achieved {
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: achievementSlide;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
}

/* Style applied to the found string */
.todo .ui-match { background: yellow; }
.person .ui-match { font-weight: 700; }

#suggestions {
  background: $color-close-white;
  box-shadow: 2px 2px 2px $color-gray;
  line-height: 16px;
  margin-left: 122px;
  margin-top: -5px;
  max-height: 200px;
  position: absolute;
  width: 262px;
  z-index: 1;
  li {
    &.active {
      background: #e4e4e4;
    }
    &:last-child {
      border: none;
    }
    border-bottom : 1px solid $color-border;
    cursor: pointer;
    padding: 8px 0;
  }
  img {
    float: left;
    height: 33px;
    width: 33px;
    margin: 0 8px;
  }
  .username {
    font-size: 14px;
  }
  .fullname {
    font-size: 12px;
    color: gray;
  }
}

.ng-hide {
  display: none !important;
}
