@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links/unstyled-link";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

$color-dark: #232323;
$color-red-asiance: #e02d45;

$fonts_en: "Droid Sans", arial, helvetica, clean, sans-serif;
$fonts_ko: "Nanum Gothic", "나눔고딕", "NanumGothic", "Malgun Gothic", '돋움', "Dotum", "AppleGothic", "Gulim", "Arial Unicode", "Arial", sans-serif;
$fonts_ja: "Meiryo UI", 'Meiryo', 'MS UI Gothic', 'MS PGothic', 'MS Gothic','Microsoft YaHei',"Arial Unicode", "Arial", sans-serif;

html, body {
  height: 100%;
}

body {
  background: $color-dark;
  font-family: $fonts_en;
  margin: 0px;
  padding: 0px;
  &.ja {
    p { font-family: $fonts_ja; }
  };
  &.ko {
    p { font-family: $fonts_ko; }
  }
  font-style: normal;
  font-weight: 400;
  color: white;
  text-align: center;
  a { @include unstyled-link; }
}

div#wrapper {
  height: 100%;
  height: auto !important;
  margin: 0px 0px -100px 0px;
  min-height: 100%;
  width: 100%;
  #logo {
    height: 220px;
    margin-bottom: 90px;
    margin-top: 130px;
  }
  h1 {
    font-size: 52px;
    font-style: italic;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    font-style: italic;
    line-height: 28px;
    margin: 0 auto;
    max-width: 400px;
    &:last-child { padding-bottom: 50px; }
  }
  hr {
    background-color: $color-red-asiance;
    border: 0 none;
    height: 1px;
    margin: 50px auto;
  }
}

div#footer_wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
  width: 100%;
}

div#footer_inner_wrapper {
  padding-top: 16px;
  p {
    display: table-cell;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
  }
  #left {
    text-align: left;
    width:100%;
  }
  #right {
    position: relative;
    text-align: right;
    top: -5px;
    width:100%;
  }
}

div#content_wrapper {
  padding: 0px 0px 100px 0px;
  width: 100%;
}

div#footer_wrapper, div#content_wrapper {
  min-width: 750px;
}

div#footer_inner_wrapper, div#content_inner_wrapper {
  margin: 0px auto;
  width: 750px;
}