@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

$color-blue: #5e9ac9;
$color-dark: #676767;
$color-gray: #cfcfcf;
$color-white: #f3f3f3;

$fonts_en: "Droid Sans", arial, helvetica, clean, sans-serif;
$fonts_ko: "Nanum Gothic", "나눔고딕", "NanumGothic", "Malgun Gothic", '돋움', "Dotum", "AppleGothic", "Gulim", "Arial Unicode", "Arial", sans-serif;
$fonts_ja: "Meiryo UI", 'Meiryo', 'MS UI Gothic', 'MS PGothic', 'MS Gothic','Microsoft YaHei',"Arial Unicode", "Arial", sans-serif;

html, body, #wrapper {
  height: 100%;
}

body {
  background: $color-white;
  color: $color-dark;
  cursor: default;
  font-family: $fonts_en;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  &.ja {
    p { font-family: $fonts_ja; }
  };
  &.ko {
    p { font-family: $fonts_ko; }
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  #arrow {
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 10;
  }
  section {
    position: relative;
    width: 100%;
    div {
      position: absolute;
      left: 50%;
      top: 50%;
    }
    &.logo {
      background: $color-blue;
      height: 48%;
      div {
        margin-left: -175px;
        margin-top: -110px;
      }
    }
    &.thanks {
      height: 48%;
        div {
          margin-left: -175px;
          margin-top: -110px;
        }
      h1 {
        font-size: 52px;
        font-style: italic;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        font-size: 20px;
        font-style: italic;
        line-height: 28px;
        margin: 0 auto;
        max-width: 400px;
      }
      hr {
        background-color: $color-gray;
        border: 0 none;
        height: 1px;
        margin: 50px auto;
        width: 430px;
      }
    }
  }
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    height: 100px;
    left: 0;
    position: fixed;
    width: 100%;
    div {
      margin: 0 auto;
      padding-top: 16px;
      width: 750px;
      p {
        color: $color-white;
        display: table-cell;
        font-size: 12px;
        line-height: 20px;
        vertical-align: middle;
        &:first-child {
          text-align: left;
          width: 100%;
        }
        &:last-child {
          position: relative;
          text-align: right;
          top: -5px;
          width: 100%;
        }
      }
    }
  }
}