@import "compass/css3";
@import "compass/typography/links/unstyled-link";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;

  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px 0px 0px 0px;
  
  a { @include unstyled-link; }
}

fieldset { 
  border: 1px solid grey;
}

form {
  width: 500px;
  margin: 50px auto;
}
label {
    width: 200px;
    font-weight: bold;
    padding: 0px 10px;
    text-align: right;
    float: left;
}
input {
    width: 300px;
    float: right;
}