@import "compass/css3";
@import "compass/typography/links/unstyled-link";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

$color-blue-asiance: #2A3742;
$color-dark: #232323;
$color-red-asiance: #e02d45;
$color-beige-basecamp: #f8f3ed;

$fonts_en: "Droid Sans", arial, helvetica, clean, sans-serif;

body {
  background: $color-beige-basecamp;
  color: $color-blue-asiance;
  font-family: $fonts_en;
  font-style: normal;
  font-weight: 400;
  height: auto !important;
  margin: 0px 0px 0px 0px;
  min-height: 100%;
  a { @include unstyled-link; }
}

#logo {
  padding-left: 60px;
}

#wrapper {
  border-radius: 5px;
  border: none;
  background: white;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  margin: 50px auto;
  width: 760px;
}

.inner-fieldset {
  border: 1px solid $color-blue-asiance;
  margin: 50px auto;
  width: 600px;
}
label {
  float: left;
  font-weight: bold;
  padding: 0px 10px;
  position: relative;
  text-align: right;
  top: 3px;
  width: 200px;
}
input {
  float: right;
  width: 300px;
}
button {
  float:right;
}

dt {
  clear: left;
  float: left;
  font-weight: bold;
  padding: 0px 40px;
  text-align: right;
  width: 120px;
}

dd {
  margin-left: 130px;
}