@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

$color-dark: #232323;
$color-blue: #5e9bca;

$fonts_en: "Droid Sans", arial, helvetica, clean, sans-serif;

a {
  text-decoration: none;
  color: $color-blue;
}

body {
  background: $color-blue;
  cursor: default;
  font-family: $fonts_en;
}

header {
  margin: 30px 0;
  text-align: center;
}

section {
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  margin: 0 auto;
  max-width: 700px;
  padding: 60px 60px 20px 60px;
}
.container {
  max-width: 820px;
  margin: 0 auto;
}

fieldset {
  margin: 30px auto;
}

dt,
label {
  float: left;
  font-weight: bold;
  text-align: right;
}

label {
  padding: 0px 10px;
  position: relative;
  top: 3px;
  width: 50%;
}

button {
  cursor: pointer;
  float: right;
}

dt {
  margin: 0px 10%;
  width: 20%;
}

dl {
  margin: 20px 10%;
}

footer {
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.hide {
  display: none;
}
.show {
  -webkit-animation: slideDown 2.5s 0s 1 forwards;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  background: rgba(#232323,0.9);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  line-height: 40px;
  overflow: hidden;
  padding: 0 40px;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 10;
}

@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}