/* line 17, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Regular.ttf) format('truetype');
}

/* line 23, ../scss/app.scss */
body {
  width: 450px;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  background: #232323;
  line-height: 50px;
}
/* line 17, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body html, body body, body div, body span, body applet, body object, body iframe,
body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre,
body a, body abbr, body acronym, body address, body big, body cite, body code,
body del, body dfn, body em, body img, body ins, body kbd, body q, body s, body samp,
body small, body strike, body strong, body sub, body sup, body tt, body var,
body b, body u, body i, body center,
body dl, body dt, body dd, body ol, body ul, body li,
body fieldset, body form, body label, body legend,
body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td,
body article, body aside, body canvas, body details, body embed,
body figure, body figcaption, body footer, body header, body hgroup,
body menu, body nav, body output, body ruby, body section, body summary,
body time, body mark, body audio, body video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body html {
  line-height: 1;
}
/* line 24, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body ol, body ul {
  list-style: none;
}
/* line 26, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body caption, body th, body td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body q, body blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body q:before, body q:after, body blockquote:before, body blockquote:after {
  content: "";
  content: none;
}
/* line 32, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body a img {
  border: none;
}
/* line 116, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body article, body aside, body details, body figcaption, body figure, body footer, body header, body hgroup, body menu, body nav, body section, body summary {
  display: block;
}
/* line 33, ../scss/app.scss */
body header {
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  background: #fdfdfd;
}
/* line 38, ../scss/app.scss */
body header #logo {
  vertical-align: middle;
}
/* line 41, ../scss/app.scss */
body header #actions {
  float: right;
}
/* line 43, ../scss/app.scss */
body header #actions #search-input {
  font-family: "Montserrat";
  font-size: 10px;
  width: 120px;
  background: #fdfdfd;
  background-image: url("/img/icon-search.png");
  background-position: 100px 0px;
  background-repeat: no-repeat;
  color: #a7a7a7;
  border: none;
  margin-right: 5px;
}
/* line 52, ../scss/app.scss */
body header #actions #search-input::-webkit-input-placeholder {
  font-style: italic;
}
/* line 56, ../scss/app.scss */
body header #actions #search-input:focus {
  outline: none;
}
/* line 61, ../scss/app.scss */
body header #actions #logout {
  border-left: 1px solid #a7a7a7;
  padding-left: 5px;
  vertical-align: middle;
}
/* line 69, ../scss/app.scss */
body .toggle-content {
  font-size: 24px;
  display: inline-block;
  width: 80px;
  color: #a7a7a7;
  text-align: center;
}
/* line 77, ../scss/app.scss */
body dt {
  border-bottom: 1px solid #373736;
}
/* line 79, ../scss/app.scss */
body dt:hover {
  background: #e56c69;
  border-bottom: 1px solid #e56c69;
}
/* line 82, ../scss/app.scss */
body dt:hover .count-todos {
  background: #e9827f;
}
/* line 86, ../scss/app.scss */
body dt a:after {
  color: #a7a7a7;
  content: '+';
}
/* line 91, ../scss/app.scss */
body dt.active {
  background: #e56c69;
  border-bottom: 1px solid #e56c69;
}
/* line 94, ../scss/app.scss */
body dt.active a:after {
  color: white;
  content: '-';
}
/* line 98, ../scss/app.scss */
body dt.active .count-todos {
  background: #e9827f;
}
/* line 101, ../scss/app.scss */
body dt.active + dd {
  display: block;
}
/* line 106, ../scss/app.scss */
body h1 {
  display: inline-block;
  font-size: 14px;
  color: white;
  width: 320px;
}
/* line 112, ../scss/app.scss */
body .count-todos {
  display: inline-block;
  color: white;
  text-align: center;
  line-height: 25px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  background: #444444;
}
/* line 123, ../scss/app.scss */
body h2 {
  color: #e56c69;
  margin-left: 80px;
}
/* line 127, ../scss/app.scss */
body .date {
  display: inline-block;
  width: 80px;
  color: #e56c69;
  text-align: center;
}
/* line 132, ../scss/app.scss */
body .date.overdues {
  vertical-align: middle;
  font-size: 18px;
  line-height: 18px;
}
/* line 136, ../scss/app.scss */
body .date.overdues p {
  font-size: 9px;
}
/* line 139, ../scss/app.scss */
body .check {
  display: none;
  width: 80px;
  text-align: center;
}
/* line 143, ../scss/app.scss */
body .check img {
  vertical-align: middle;
}
/* line 145, ../scss/app.scss */
body .comments {
  color: #a7a7a7;
  line-height: 50px;
}
/* line 148, ../scss/app.scss */
body .comments img {
  margin-right: 4px;
  vertical-align: middle;
}
/* line 153, ../scss/app.scss */
body .content {
  background-color: white;
}
/* line 156, ../scss/app.scss */
body li {
  border-bottom: 1px solid #f4f4f4;
}
/* line 158, ../scss/app.scss */
body li:first-child {
  border-top: 1px solid #f4f4f4;
}
/* line 159, ../scss/app.scss */
body li:last-child {
  border-bottom: 0;
}
/* line 160, ../scss/app.scss */
body li:hover {
  background-color: #339a63;
  color: white;
}
/* line 163, ../scss/app.scss */
body li:hover .todo {
  border-left: 1px solid #2c8d59;
}
/* line 166, ../scss/app.scss */
body li:hover .date {
  display: none;
}
/* line 169, ../scss/app.scss */
body li:hover .check {
  display: inline-block;
}
/* line 172, ../scss/app.scss */
body li:hover .comments {
  color: white;
}
/* line 176, ../scss/app.scss */
body li .todo {
  display: inline-block;
  padding-left: 18px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid #f4f4f4;
}
/* line 187, ../scss/app.scss */
body a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
body a:active, body a:focus {
  outline: none;
}

@-webkit-keyframes slideout {
  /* line 193, ../scss/app.scss */
  from {
    margin-left: 0%;
    width: 100%;
  }

  /* line 198, ../scss/app.scss */
  to {
    margin-left: 5%;
    width: 100%;
  }
}

/* line 203, ../scss/app.scss */
.slideout {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
}
