/* line 17, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url('/css/fonts/../../fonts/Montserrat-Regular.ttf') format('truetype');
}

/* line 7, ../scss/auth-success.scss */
html {
  position: relative;
  height: 100%;
}

/* line 12, ../scss/auth-success.scss */
body {
  background: url("../img/background.jpg") center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  width: 80%;
  margin: 0 auto 100px;
  text-align: center;
}
/* line 17, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body html, body body, body div, body span, body applet, body object, body iframe,
body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre,
body a, body abbr, body acronym, body address, body big, body cite, body code,
body del, body dfn, body em, body img, body ins, body kbd, body q, body s, body samp,
body small, body strike, body strong, body sub, body sup, body tt, body var,
body b, body u, body i, body center,
body dl, body dt, body dd, body ol, body ul, body li,
body fieldset, body form, body label, body legend,
body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td,
body article, body aside, body canvas, body details, body embed,
body figure, body figcaption, body footer, body header, body hgroup,
body menu, body nav, body output, body ruby, body section, body summary,
body time, body mark, body audio, body video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body html {
  line-height: 1;
}
/* line 24, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body ol, body ul {
  list-style: none;
}
/* line 26, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body caption, body th, body td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body q, body blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body q:before, body q:after, body blockquote:before, body blockquote:after {
  content: "";
  content: none;
}
/* line 32, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body a img {
  border: none;
}
/* line 116, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body article, body aside, body details, body figcaption, body figure, body footer, body header, body hgroup, body menu, body nav, body section, body summary {
  display: block;
}
/* line 14, ../scss/auth-success.scss */
body a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
body a:active, body a:focus {
  outline: none;
}
/* line 24, ../scss/auth-success.scss */
body #logo {
  margin-top: 130px;
  margin-bottom: 90px;
  height: 220px;
}
/* line 29, ../scss/auth-success.scss */
body h1 {
  font-size: 52px;
  font-style: italic;
  font-weight: 700;
}
/* line 34, ../scss/auth-success.scss */
body p {
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
  max-width: 500px;
}
/* line 40, ../scss/auth-success.scss */
body hr {
  background-color: #a0afd7;
  border: 0 none;
  height: 1px;
  width: 50%;
  margin: 50px auto;
}
/* line 47, ../scss/auth-success.scss */
body #goto {
  margin: 40px;
}
/* line 50, ../scss/auth-success.scss */
body footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
}
/* line 58, ../scss/auth-success.scss */
body footer .wrapper {
  width: 40%;
  margin: auto;
  padding-top: 16px;
}
/* line 62, ../scss/auth-success.scss */
body footer .wrapper p {
  display: table-cell;
  font-size: 10px;
  line-height: 18px;
  vertical-align: middle;
  width: 400px;
}
/* line 69, ../scss/auth-success.scss */
body footer .wrapper #left {
  text-align: left;
  width: 100%;
}
/* line 73, ../scss/auth-success.scss */
body footer .wrapper #right {
  text-align: right;
  width: 100%;
  position: relative;
  top: -5px;
}
