<input type="text" id="inputName" value="{{todolist.name}}" placeholder="Name">
<input type="password" id="inputDescription" value="{{todolist.description}}" placeholder="Description">

<ul>
  <li ng-repeat="todo in todolist.todos.completed" class="muted">{{todo.content}} / {{todo.due_at}} / {{todo.assignee.name}}</li>
  <li ng-repeat="todo in todolist.todos.remaining">{{todo.content}} / {{todo.due_at}} / {{todo.assignee.name}}</li>
  <li ng-repeat="todo in newTodos" class="text-warning"><strong>{{todo.content}} / {{todo.due_at}} / {{todo.assignee.name}}</strong></li>
</ul>

<form ng-submit="addTodo()">
  <input type="text" ng-model="contentTodo" placeholder="describe the new todo">
  <select ng-change="retrieveName(assigneeIdTodo)" ng-model="assigneeIdTodo" ng-options="assignee.id as assignee.name for assignee in assignees"></select>
  <input type="text" ng-model="dueatTodo" placeholder="deadline">
  <input class="btn btn-primary" type="submit" value="+">
</form>

<input class="btn btn-primary" type="submit" value="Save all">