<h3><span class="badge">{{projects.length}}</span><small> Projects</small></h3>
<ul class="unstyled">
  <li ng-repeat="project in projects">
    <a ng-click="getProject(project.id)" href="">{{project.name}}</a>
  </li>
</ul>

<span>Todolists completed: <strong>{{project.todolists.completed_count}}/{{project.todolists.remaining_count + project.todolists.completed_count}}</strong></span>
<div class="progress">
  <div class="bar bar-success" style="width: {{project.todolists.completed_count/(project.todolists.remaining_count + project.todolists.completed_count)*100}}%;"></div>
</div>

<span>Todos completed: <strong>{{completed_count_ongoing + completed_count}}/{{remaining_count_ongoing + completed_count_ongoing + completed_count}}</strong></span>
<div class="progress">
  <div class="bar bar-warning" style="width: {{(completed_count_ongoing + completed_count)/(remaining_count_ongoing + completed_count_ongoing + completed_count)*100}}%;"></div>
</div>

<ul class="unstyled">
  <li ng-repeat="person in people | orderBy:'todos_count'">{{person.name}} (remaining todos : <strong>{{person.todos_count}}</strong>)</li>
</ul>