<div>
  <h3><span class="badge">{{(assignedTodos | status :'1').length}}</span><small> Overdues</small></h3>
  <div ng-show="filteredOverdue.length" ng-repeat="project in projects">
    <strong>{{project.name}}</strong>
    <ul>
      <li title="{{assignedTodo.todolist}}" ng-repeat="assignedTodo in filteredOverdue = (project.assignedTodos | orderBy: sortByDate | status: 1)">
        {{assignedTodo.content}} <small ng-show="assignedTodo.comments_count">({{assignedTodo.comments_count}})</small>
        <span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span>
      </li>
    </ul>
  </div>
</div>
<div>
  <h3><span class="badge">{{(assignedTodos | status :'2').length}}</span><small> Today</small></h3>
  <div ng-show="filteredToday.length" ng-repeat="project in projects">
    <strong>{{project.name}}</strong>
    <ul>
      <li title="{{assignedTodo.todolist}}" ng-repeat="assignedTodo in filteredToday = (project.assignedTodos | orderBy: sortByDate | status: 2)">
        {{assignedTodo.content}} <small ng-show="assignedTodo.comments_count">({{assignedTodo.comments_count}})</small>
      </li>
    </ul>
  </div>
</div>
<div>
  <h3><span class="badge">{{(assignedTodos | status :'3').length}}</span><small> Upcoming</small></h3>
  <div ng-show="filteredUpcoming.length" ng-repeat="project in projects">
    <strong>{{project.name}}</strong>
    <ul>
      <li title="{{assignedTodo.todolist}}" ng-repeat="assignedTodo in filteredUpcoming = (project.assignedTodos | orderBy: sortByDate | status: 3)">
        {{assignedTodo.content}} <small ng-show="assignedTodo.comments_count">({{assignedTodo.comments_count}})</small>
        <span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span>
      </li>
    </ul>
  </div>
</div>
<div>
  <h3><span class="badge">{{(assignedTodos | status :'4').length}}</span><small> Undetermined</small></h3>
  <div ng-show="filteredUndetermined.length" ng-repeat="project in projects">
    <strong>{{project.name}}</strong>
    <ul>
      <li title="{{assignedTodo.todolist}}" ng-repeat="assignedTodo in filteredUndetermined = (project.assignedTodos | orderBy: sortByDate | status: 4)">
        {{assignedTodo.content}} <small ng-show="assignedTodo.comments_count">({{assignedTodo.comments_count}})</small>
      </li>
    </ul>
  </div>
</div>