<h2><small>[{{filteredOverdue.length}}] Overdues Todos</small></h2>
<ul>
	<li ng-repeat="assignedTodo in filteredOverdue = (assignedTodos | orderBy: sortByDate | status: 1)" >
		<p>{{assignedTodo.content}}
		<span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span></p>
	</li>
</ul>

<h2><small>[{{filteredToday.length}}] Today Todos</small></h2>
<ul>
	<li ng-repeat="assignedTodo in filteredToday = (assignedTodos | orderBy: sortByDate | status: 2)" >
		<p>{{assignedTodo.content}}
		<span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span></p>
	</li>
</ul>

<h2><small>[{{filteredUpcoming.length}}] Upcoming Todos</small></h2>
<ul>
	<li ng-repeat="assignedTodo in filteredUpcoming = (assignedTodos | orderBy: sortByDate | status: 3)" >
		<p>{{assignedTodo.content}}
		<span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span></p>
	</li>
</ul>

<h2><small>[{{filteredUndertermined.length}}] Undertermined Todos</small></h2>
<ul>
	<li ng-repeat="assignedTodo in filteredUndertermined = (assignedTodos | orderBy: sortByDate | status: 4)" >
		<p>{{assignedTodo.content}} 
		<span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span></p>
	</li>
</ul>