<h3><span class="badge">{{assignedTodolists.length}}</span><small> Todolists</small></h3>
<ul class="unstyled">
	<li ng-repeat="assignedTodolist in assignedTodolists">
		<p><small><strong>{{assignedTodolist.name}}</strong></small></p>
		<ul>
			<li ng-repeat="assignedTodo in assignedTodolist.assigned_todos | orderBy: sortByDate">
				<p><a href="">{{assignedTodo.content}}</a> <span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span></p>
			</li>
		</ul>
	</li>
</ul>