<input type="text" ng-model="search" class="search-query" placeholder="Search todo, project, assigner..." autofocus>
<div>
  <h3><span class="badge">{{(assignedTodos | filter:search | status :'1').length}}</span><small> Overdues</small></h3>
  <div ng-show="filteredOverdue.length" ng-repeat="project in projects">
    <strong>{{project.name}}</strong>
    <ul>
      <li ng-repeat="assignedTodo in filteredOverdue = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 1)">
        <span title="{{assignedTodo.todolist}}">{{assignedTodo.content}}</span>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"><i class="icon-search"></i></a>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"><small ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">(<i class="icon-comment"></i>{{assignedTodo.comments_count}})</small></a>
        <span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span>
      </li>
    </ul>
  </div>
</div>
<div>
  <h3><span class="badge">{{(assignedTodos | filter:search | status :'2').length}}</span><small> Today</small></h3>
  <div ng-show="filteredToday.length" ng-repeat="project in projects">
    <strong>{{project.name}}</strong>
    <ul>
      <li ng-repeat="assignedTodo in filteredToday = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 2)">
        <span title="{{assignedTodo.todolist}}">{{assignedTodo.content}}</span>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"><i class="icon-search"></i></a>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"><small ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">(<i class="icon-comment"></i>{{assignedTodo.comments_count}})</small></a>
        <span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span>
      </li>
    </ul>
  </div>
</div>
<div>
  <h3><span class="badge">{{(assignedTodos | filter:search | status :'3').length}}</span><small> Upcoming</small></h3>
  <div ng-show="filteredUpcoming.length" ng-repeat="project in projects">
    <strong>{{project.name}}</strong>
    <ul>
      <li ng-repeat="assignedTodo in filteredUpcoming = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 3)">
        <span title="{{assignedTodo.todolist}}">{{assignedTodo.content}}</span>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"><i class="icon-search"></i></a>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"><small ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">(<i class="icon-comment"></i>{{assignedTodo.comments_count}})</small></a>
        <span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span>
      </li>
    </ul>
  </div>
</div>
<div>
  <h3><span class="badge">{{(assignedTodos | filter:search | status :'4').length}}</span><small> Undetermined</small></h3>
  <div ng-show="filteredUndetermined.length" ng-repeat="project in projects">
    <strong>{{project.name}}</strong>
    <ul>
      <li ng-repeat="assignedTodo in filteredUndetermined = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 4)">
        <span title="{{assignedTodo.todolist}}">{{assignedTodo.content}}</span>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"><i class="icon-search"></i></a>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"><small ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">(<i class="icon-comment"></i>{{assignedTodo.comments_count}})</small></a>
        <span class="label label-{{assignedTodo.due_at | date}}">{{assignedTodo.due_at}}</span>
      </li>
    </ul>
  </div>
</div>