<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
		<title>Bitx</title>	
    <link href="../css/auth-success.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div id="wrapper">	
			<div id="content_wrapper">	
				<div id="content_inner_wrapper">		
					<div>
            <img id="logo" src="../img/logo-light.png">
            <h1>Thank you!</h1>
            <hr>
            <p>Your Todo Basecamp Extension is now connected to your account!</p>
            <p>You can start using the extension.</p>            
          </div>
				</div>	
			</div>	
		</div>		
		<div id="footer_wrapper">	
			<div id="footer_inner_wrapper">		
          <p id="left">By Asiance &copy; 2013<br><a href="mailto:info@asiance.com">info@asiance.com</a></p>
          <p id="right"><a href="http://www.asiance.com/"><img src="../img/logo-asiance.png"></a></p>
			</div>	
		</div>
	</body>
</html>