<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bitx</title>
    <link rel="shortcut icon" href="/icon.png" type="image/png">
    <link href="../css/auth-success.css" rel="stylesheet" media="screen">
    <script src="../js/auth-success.js"></script>
  </head>
  <body>
    <img id="arrow" src="../img/arrow.png" width="204" height="163">
    <div id="wrapper">
      <section class="logo">
        <div>
          <img id="logo" src="../img/logo-light.png" alt="Logo Bitx" height="220">
        </div>
      </section>
      <section class="thanks">
        <div>
          <h1 id="thankYou"></h1>
          <p id="syncMess"></p>
        </div>
      </section>
    </div>
    <footer>
      <div>
        <p>By Asiance &copy; 2013<br><a href="mailto:info@asiance.com">info@asiance.com</a></p>
        <p><a href="http://www.asiance.com/" target="_blank"><img src="../img/logo-asiance.png" alt="logo-asiance"></a></p>
      </div>
    </footer>

    <script src="../lib/underscore-min.js"></script>
    <script src="../lib/jquery-2.0.0.min.js"></script>

    <script src="../js/lang/en.js"></script>
    <script src="../js/lang/fr.js"></script>
    <script src="../js/lang/ko.js"></script>
    <script src="../js/lang/it.js"></script>
    <script src="../js/lang/ja.js"></script>
    <script src="../js/lang/pt.js"></script>
  </body>
</html>