<header>
  <img id="logo" src="/img/logo-header.png">
  <div id="actions">
    <input id="search-input" type="text" ng-model="search" placeholder="Search todo..." autofocus>
    <a ng-show="online" href="#/logout" ng-click="logout()"><img id="logout" src="/img/icon-logout.png"></a>
  </div>
</header>

<section>
<dl class="todos">
  <dt ng-class="overdue" id="overdues"><a>
    <span class="toggle-content"></span>
    <span><h1>OVERDUES</h1></span>
    <span ng-show="(assignedTodos | filter:search | status :'1').length" class="count-todos">{{(assignedTodos | filter:search | status :'1').length}}</span>
  </a></dt>
  <dd id="overdue_content">
  <div class="content" ng-show="filteredOverdue.length" ng-repeat="project in projects">
    <h2>{{project.name | uppercase}}</h2>
    <ul>
      <li id="{{assignedTodo.id}}" ng-repeat="assignedTodo in filteredOverdue = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 1)">
        <span class="date overdues">{{assignedTodo.due_at | daysLate}}<br>
          <p><ng-pluralize count="assignedTodo.days_late" when="{'1': 'day late', 'other': 'days late'}"></ng-pluralize></p>
        </span>
        <div class="todo">
          <div><span ng-click="completeTodo(project.id, assignedTodo.id)" class="checkbox"></span><span class="todo-text">{{assignedTodo.content}}<span></div>
        </div>
        <span class="comments" ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">
          <p>{{assignedTodo.comments_count}}</p>
        </span>
        <span class="void" ng-hide="assignedTodo.comments_count"></span>     
        <span ng-click="openTodo(project.id, assignedTodo.id)" class="icon-link"></span>
      </li>
    </ul>
  </div>
  </dd>

  <dt ng-class="today" id="today"><a>
    <span class="toggle-content"></span>
    <span><h1>TODAY</h1></span>
    <span ng-show="(assignedTodos | filter:search | status :'2').length" class="count-todos">{{(assignedTodos | filter:search | status :'2').length}}
    </span></a></dt>
  <dd id="today_content">
  <div class="content" ng-show="filteredToday.length" ng-repeat="project in projects">
    <h2>{{project.name | uppercase}}</h2>
    <ul>
      <li id="{{assignedTodo.id}}" ng-repeat="assignedTodo in filteredToday = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 2)">
        <div class="todo">
          <div><span ng-click="completeTodo(project.id, assignedTodo.id)" class="checkbox"></span><span class="todo-text">{{assignedTodo.content}}<span></div>
        </div>
        <span class="comments" ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">
          <p>{{assignedTodo.comments_count}}</p>
        </span>
        <span class="void" ng-hide="assignedTodo.comments_count"></span>     
        <span ng-click="openTodo(project.id, assignedTodo.id)" class="icon-link"></span>
    </ul>
  </div>
  </dd>

  <dt ng-class="upcoming" id="upcoming"><a>
      <span class="toggle-content"></span>
      <span><h1>UPCOMING</h1></span>
      <span ng-show="(assignedTodos | filter:search | status :'3').length" class="count-todos">{{(assignedTodos | filter:search | status :'3').length}}</span>
  </a></dt>
  <dd id="upcoming_content">
  <div class="content" ng-show="filteredUpcoming.length" ng-repeat="project in projects">
    <h2>{{project.name | uppercase}}</h2>
    <ul>
      <li id="{{assignedTodo.id}}" ng-repeat="assignedTodo in filteredUpcoming = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 3)">
        <span class="date">{{assignedTodo.due_at | daysRemaining}}<br>
          <p><ng-pluralize count="assignedTodo.remaining_days" when="{'1': 'day left', 'other': 'days left '}"></ng-pluralize></p>
        </span>
        <div class="todo">
          <div><span ng-click="completeTodo(project.id, assignedTodo.id)" class="checkbox"></span><span class="todo-text">{{assignedTodo.content}}<span></div>
        </div>
        <span class="comments" ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">
          <p>{{assignedTodo.comments_count}}</p>
        </span>
        <span class="void" ng-hide="assignedTodo.comments_count"></span>     
        <span ng-click="openTodo(project.id, assignedTodo.id)" class="icon-link"></span>
      </li>
    </ul>
  </div>
  </dd>

  <dt ng-class="no_due_date" id="no-due-date"><a>
    <span class="toggle-content"></span>
    <span><h1>NO DUE DATE</h1></span>
    <span ng-show="(assignedTodos | filter:search | status :'4').length" class="count-todos">{{(assignedTodos | filter:search | status :'4').length}}</span>
  </a></dt>
  <dd id="no_due_date_content">
  <div class="content" ng-show="filteredUndetermined.length" ng-repeat="project in projects">
    <h2>{{project.name | uppercase}}</h2>
    <ul>
      <li id="{{assignedTodo.id}}" ng-repeat="assignedTodo in filteredUndetermined = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 4)"><a href="#" class="check" ng-click="completeTodo(project.id, assignedTodo.id)"><img src="img/icon-check.png"></a>
        <div class="todo">
          <div><span ng-click="completeTodo(project.id, assignedTodo.id)" class="checkbox"></span><span class="todo-text">{{assignedTodo.content}}<span></div>
        </div>
        <span class="comments" ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">
          <p>{{assignedTodo.comments_count}}</p>
        </span>
        <span class="void" ng-hide="assignedTodo.comments_count"></span>     
        <span ng-click="openTodo(project.id, assignedTodo.id)" class="icon-link"></span>
      </li>
    </ul>
  </div>
  </dd>

</dl>
</section>