<input id="search-input" type="text" ng-model="search" class="search-query" placeholder="Search todo, project, assigner..." autofocus>

<dl class="todos">
  <dt ng-class="overdue" id="overdues"><a href="" class="toggle-content">+</a><span><h1>OVERDUES</h1></span><span class="count-todos">{{(assignedTodos | filter:search | status :'1').length}}</span></dt>
  <dd>
  <div class="content" ng-show="filteredOverdue.length" ng-repeat="project in projects">
    <h2>{{project.name | uppercase }}</h2>
    <ul>
      <li ng-repeat="assignedTodo in filteredOverdue = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 1)">
        <span class="date">{{assignedTodo.due_at}}</span><a href="#" class="check" ng-click="completeTodo(project.id, assignedTodo.id)">Check!</a><a href="#" ng-click="openTodo(project.id, assignedTodo.id)"class="todo" title="{{assignedTodo.todolist}}">{{assignedTodo.content}}
        <span ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">({{assignedTodo.comments_count}})</span></a>
      </li>
    </ul>
  </div>
  </dd>

  <dt ng-class="today" id="today"><a href="" class="toggle-content">+</a><span><h1>TODAY</h1></span><span class="count-todos">{{(assignedTodos | filter:search | status :'2').length}}</span></dt>
  <dd>
  <div class="content" ng-show="filteredToday.length" ng-repeat="project in projects">
    <h2>{{project.name | uppercase }}</h2>
    <ul>
      <li ng-repeat="assignedTodo in filteredToday = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 2)">
        <span class="date" ng-click="completeTodo(project.id, assignedTodo.id)">{{assignedTodo.due_at}}</span><a href="#" class="check" ng-click="completeTodo(project.id, assignedTodo.id)">Check!</a><a href="#" ng-click="openTodo(project.id, assignedTodo.id)"class="todo" title="{{assignedTodo.todolist}}">{{assignedTodo.content}}
        <span ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">({{assignedTodo.comments_count}})</span></a>
      </li>
    </ul>
  </div>
  </dd>

  <dt class="active" id="upcoming"><a href="" class="toggle-content">+</a><span><h1>UPCOMING</h1></span><span class="count-todos">{{(assignedTodos | filter:search | status :'3').length}}</span></dt>
  <dd>
  <div class="content" ng-show="filteredUpcoming.length" ng-repeat="project in projects">
    <h2>{{project.name | uppercase }}</h2>
    <ul>
      <li ng-repeat="assignedTodo in filteredUpcoming = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 3)">
        <span class="date" ng-click="completeTodo(project.id, assignedTodo.id)">{{assignedTodo.due_at | formatDate}}</span><a href="#" class="check" ng-click="completeTodo(project.id, assignedTodo.id)">Check!</a><a href="#" ng-click="openTodo(project.id, assignedTodo.id)"class="todo" title="{{assignedTodo.todolist}}">{{assignedTodo.content}}
        <span ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">({{assignedTodo.comments_count}})</span></a>
      </li>
    </ul>
  </div>
  </dd>

  <dt ng-class="no_due_date" id="no-due-date"><a href="" class="toggle-content">+</a><span><h1>NO DUE DATE</h1></span><span class="count-todos">{{(assignedTodos | filter:search | status :'4').length}}</span></dt>
  <dd>
  <div class="content" ng-show="filteredUndetermined.length" ng-repeat="project in projects">
    <h2>{{project.name | uppercase }}</h2>
    <ul>
      <li ng-repeat="assignedTodo in filteredUndetermined = (project.assignedTodos | filter:search | orderBy: sortByDate | status: 4)"><span class="date" ng-click="completeTodo(project.id, assignedTodo.id)">-</span><a href="#" class="check" ng-click="completeTodo(project.id, assignedTodo.id)">Check!</a>
        <a href="#" ng-click="openTodo(project.id, assignedTodo.id)"class="todo" title="{{assignedTodo.todolist}}">{{assignedTodo.content}}
        <span ng-show="assignedTodo.comments_count" title="Last update: {{assignedTodo.updated_at | elapsedTime}}">({{assignedTodo.comments_count}})</span></a>
      </li>
    </ul>
  </div>
  </dd>

</dl>